.card{
    margin:20px;
    background-color:bisque ;
}
.card-title{
    font-weight: bold;
}
.btn:hover{
    transform:scale(1.1);
}
.likeBtn{
    margin:10px;
    width:100px;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    
    border-radius: 6.2px;
    text-shadow: 4px 4px black;
}
.likeBtn:hover{
    transform: scale(1.33);
}
.btn{
    margin:10px 0;
}

.card-footer{
    margin: 25px 0;
}

.text-body-secondary{
    font-size:xx-large;
}
.card-text{
    font-size: x-large;
}
.card-body a{
    color: blue;
    text-decoration: underline;
}
.no-posts{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 41px;
}
.card-text{
    margin:5px;
}
.btn-success{
    width:162px;
    margin: 10px auto
}
img{
    max-width:300px;
    max-height: 300px;
}
.post-image{
    margin:10px;
}